/* .sidenav{
  height: 100%; 
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0; 
  background-color:#232323; 
  transition: .5s ease;
  overflow-x: hidden;
   padding-top: 20px; 
   flex-direction: column;
   align-items: center;
  } */

  .sidenav{
    display: flex;
    flex-direction: column;
    padding: 2em;
    
    
  }
  
  /* Style sidebar links */
  .sidenav a {
    padding: 6px 8px 26px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #757386;
    display: block;
    
  }
  
  /* Style links on mouse-over */
  .sidenav a:hover {
    /* background: #751515; */
    color:#8d2a2a;
    font-weight: bold;
  }
  
  /* Style the main content */
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  .nav-icons:hover {
    color: #8d2a2a;
  }